body{
	background-color: #ffffff;
	padding:0;
	margin:0;
	width:px;
	height:1500px;
}

.text{
	font-family:Amaranth;
	color:white;
	position:absolute;
	margin:58px 0 0 163px;
	font-size:29px;

}

#img1{
	margin:39px 0 0 141px;
	position:absolute;
}

.text2{
	font-family:"SamoSans Regular";
	color:#AC9EBB;
	position:absolute;
	margin:54px 0 0 228px;
	font-size:39px;

}

ul li{
	position:absolute;
	display:inline;
}

#li1{
	position:;
	left:580px;
	top:70px;
	font-family:"Segoe UI";
	font-size:19px;
}

.long{
	border-top:5px solid #AC9EBB;
}

#imghome{
	position:absolute;
	left:553px;
	top:73px;
}

#li2{
	position:;
	left:729px;
	top:70px;
	font-family:"Segoe UI";
	font-size:19px;
}

#imguser{
	position:absolute;
	left:702px;
	top:73px;
}
#imgserv{
	position:absolute;
	left:877px;
	top:73px;
}


#li3{
	position:;
	left:909px;
	top:70px;
	font-family:"Segoe UI";
	font-size:19px;
}

#li4{
	position:;
	left:1068px;
	top:70px;
	font-family:"Segoe UI";
	font-size:19px;
}

#imgsms{
	position:absolute;
	left:1040px;
	top:77px;
}

 #imgcont{
	position:absolute;
	top:177px;
	left:290px;

}

a{
	text-decoration: none;
}

.text3{
	width:1012px;
	height:140px;
	border-top:1px solid #BFBFBF;
	border-bottom:1px solid #BFBFBF;
	position:relative;
	left:295px;
	top:677px;
}
#text4{
	color:#82699D;
	font:italic bold 23px "Segoe UI";
	text-align:center;

}
.textincont{
	font:italic 23px "Segoe UI";
	text-align:center;
}

.circle{
	position:absolute;
	top:890px;
	left:230px;
}

.textcircle{
	position:absolute;
	top:900px;
	left:620px;
	color:#838383;
	font:15px "Segoe UI";
}

.textcircle h1{
	font:bold 31px "Segoe UI";
	color:#505051;
}

.textnone{
	line-height: 28px;
}

#width{
	position:relative;
	left:-305px;
	top:5px;
}

#hold{
	font:bold 23px "Segoe UI";
}

.read{
	position:absolute;
	top:1180px;
	left:1200px;
	
}

.hold{
	font:23px "Segoe UI";
	position:absolute;
	top:1200px;
	left:220px;
}

 .read #txt{
	font-style:italic;
	font-size:13px;
	color:#959595;
}

#arrow{
	position:absolute;
	top:1187px;
	left:1265px;
}

.upfo{
	position:absolute;
	top:1300px;
	left:220px;
	width:1100px;
	height:71px;
}

.footer{
	position:absolute;
	top:1500px;
	width:2000px;
	height:78px;
	background-color:#E6E6E6;
}

#footer2{
	position:absolute;
	color:#454242;
	font: 15px "Segoe UI";
	top:15px;
	left:150px;
}

#facebook{
	position:absolute;
	top:25px;
	left:1350px;
}

#twitter{
	position:absolute;
	top:25px;
	left:1300px;
}
